@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Shizuru&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-color: rgb(58, 192, 118);
    font-family: 'Kalam';
    color: rgba(54, 7, 7, 0.755);
    font-weight: 700;
}

.container {
    display: flex;
    gap: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    font-family: 'Shizuru';
    color: white;
    margin-block: 2rem;
    font-size: 3rem;
    text-align: center;
}

.tabla-colores {
    background-color: rgb(186, 145, 90);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.colores {
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgb(246, 246, 246);
}

.colores.seleccionado{
    border: 5px solid rgb(54, 7, 7);
}

#blanco {
    background-color: white;
}

#negro {
    background-color: black;
}

#gris {
    background-color: rgb(169, 168, 168);
}

#carne {
    background-color: rgb(254, 221, 159);
}

#amarillo {
    background-color: rgb(245, 229, 10);
}

#azul {
    background-color: rgb(0, 119, 255);
}

#rojo {
    background-color: rgb(199, 9, 9);
}

#purpura {
    background-color: rgb(109, 20, 109);
}

#verde {
    background-color: rgb(26, 151, 26);
}

#naranja {
    background-color: rgb(255, 132, 0);
}

#rosa {
    background-color: rgb(194, 101, 157);
}

#marron {
    background-color: rgb(141, 90, 23);
}

table, tr, td {
    border: 1px solid rgb(188, 188, 188);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: white;
}

td {
    height: 10px;
    width: 10px;
}

#pincel {
    font-size: 1.2rem;
}